/* General */

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.only-big-screens {
    display: none;
}


/* Nav bar */

nav {
    min-height: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    width: 100vw;
}

#big-screen-logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 1rem;
}

.big-screen-nav {
    margin: 1rem;
}

img {
    min-width: 0;
    height: auto;
}


/* Hero Section */

#hero {
    display: flex;
    flex-direction: column;
    background-color: #dfdfdf;
}

#hero article{
    margin: 1rem;
}

h1 {
    font-size: 2.2rem;
    padding: 5vw 0;
}

p {
    margin: 0.8rem 0;
    line-height: 1.7;
}

#call-to-action {
    display: block;
    text-align: center;
    border-radius: 4px;
    border: none;
    margin: 5vw 0;
    width: 100%;
    height: 2.5em;
    font-weight: bolder;
    padding: 1rem;
    padding-bottom: 2rem;
    background-color: #b0afaf;
    text-decoration: none;
    color: black;
}

#call-to-action:visited {
    color: #5e0080;
}

#call-to-action:hover {
    border-bottom: 2px solid darkslategray;
    border-right: 2px solid darkslategray;
}

#call-to-action:active {
    border-bottom: none;
    border-right: none;
    border-top: 2px solid darkslategray;
    border-left: 2px solid darkslategray;
    color: red;
}


/* On campus section */

#on-campus {
    display: flex;
    flex-direction: column;
}

.nav-node {
    height: 5rem;
    margin-top: -5rem;
    visibility: hidden;
    pointer-events: none;
}

.image-container {
    min-width: 0;
    display: flex;
}

.side-image-container {
    background-position: center;
    min-height: 15rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2.5rem 2rem;
}

#first {
    background-image: url("./capstone_colmar_assets/images/information-orientation-mobile.jpg");
}

#second {
    background-image: url("./capstone_colmar_assets/images/information-campus-mobile.jpg")
}

#third {
    background-image: url("./capstone_colmar_assets/images/information-guest-lecture-mobile.jpg");
}


article {
    margin: 2.5rem 1rem;
}

#start-learning {
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.course-button {
    border-radius: 0;
    border: none;
    margin: 0.25rem;
    height: 3rem;
    font-size: 1rem;
    text-align: left;
    padding: 0 1.2rem;
    font-weight: 500;
}

#thesis-exhibits {
    margin: 1rem 0;
}

#thesis-exhibits h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

video {
    min-width: 0;
    margin: 1rem 0;
}

footer {
    min-height: 4rem;
    padding: 1rem;
    color: #3d3b3b;
    border-top: 1px solid darkgray;
}





@media screen and (min-width: 630px) {

    .only-small-screens {
        display: none;
    }

    .only-big-screens {
        display: block;
    }

    nav.only-big-screens {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #hero {
        flex-direction: row;
    }

    #hero .image-container {
        padding: 3rem 1rem;
    }

    #hero article {
        max-width: 352px;
    }

    #on-campus {
        flex-direction: row;
    }

    #testimonial {
        display: flex;
        flex-direction: column;
        margin-left: 1vw;
    }

    #testimonial  .image-container{
        max-width: 55vw;
    }


    /* Start about campus section */
    #about-campus {
        display: grid;
        grid-template-columns: 5fr 7fr;
        padding-left: 1vw;
        border-left: 1pt solid #a9a9a9;
    }

    #about-campus img {
        padding: 2rem 0;
    }

    .side-image-container {
        background-position: center;
        margin: 2.5rem 0;
        min-height: 0;
    }

    #first {
        background-image: url("./capstone_colmar_assets/images/information-orientation.jpg");
    }

    #second {
        background-image: url("./capstone_colmar_assets/images/information-campus.jpg")
    }

    #third {
        background-image: url("./capstone_colmar_assets/images/information-guest-lecture.jpg");
    }

    /* End about-campus section */

    #start-learning {
        background-color: lightgray;
    }

    #cards-container {
        max-width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .course-card {
        background-color: white;
        margin: 1rem;
    }

    #cards-container img {
        max-width: 100%;
    }

    #cards-container article {
        margin: 0;
    }

    #cards-container p, #cards-container h3, #cards-container h4 {
        text-align: left;
        margin: 0.5rem;
    }

    #cards-container p, #cards-container h4 {
        font-size: 0.85rem;
    }

    #cards-container h4 {
        font-weight: 200;
    }

    #thesis-exhibits {
        background-color: white;
    }

    #theses-container {
        display: grid;
        grid-template-columns: 3fr 2fr;
        max-width: 100vw;
    }

    #main-thesis {
        max-width: 55vw;
    }

    #other-theses {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-auto-rows: min-content;
        max-width: 35vw;
        margin-top: 2.5rem;
    }

    #other-theses .image-container {
        max-height: 30vh;
        padding: 0.5rem 0;
    }

    .thesis-blurb {
        max-height: 30vh;
        min-height: 8rem;
        text-align: left;
        padding: 0.25rem;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    footer #copyright {
        flex-grow: 1;
    }

    footer .only-big-screens {
        margin-right: 1rem;
    }
}